title{
    color: black;background-color: ivory;border: lawngreen ;font-size: x-large;border-bottom: orange;border-radius: 30px 30px 30px;
}
#abid{
    color: black;background-color: chartreuse;border-radius: 30px 30px 30px;
    font-size: medium;border-bottom: snow;
}
#my{
    color: black;background-color: yellow;border-radius: 30px 30px 30px;bottom: 20px 20px 20px ;
}
.life{
    color: black;background-color: white;border: red;
font-size: medium;}