title{
    color: black;background-color: ivory;border: lawngreen ;font-size: x-large;border-radius: 30px 30px 30px;
}
#abid{
    color: black;background-color: chartreuse;font-size: medium;
}
#my{
    color: black;background-color: yellow;border-radius: "30px 30px 30px"
}
.life{
    color: black;background-color: white;border: red;
font-size: medium;}